@import "variables";

@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
	margin: 0;
	background-color: $bg2;
	color: white;
	font-family: Roboto, sans-serif;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

div.main-outer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	width: 100vw;
	min-height: 90vh;
	position: relative;
	right: 0;
}

div.portal-nav {
	display: none;
}

div.main-section {
	flex-grow: 1;

	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 3ch;
	align-items: flex-start;
	padding: 3ch 0;

	div.content {
		min-width: 40%;
		max-width: 60%;
		min-height: 20%;
		background-color: $bg1;
		padding: 1ch 2ch;
		border-radius: 7px;
	}
	div.sidebar {
		max-width: 25%;
		gap: 1ch;
		display: flex;
		flex-direction: column;

		div {
			background-color: $bg1;
			padding: 2ch 3ch;
			border-radius: 5px;

			gap: 0.5ch;
			display: flex;
			flex-direction: column;

			h2 {
				margin: 0 0 0.3ch;
			}
		}

		div.tickets {
			gap: 0.5ch;
			a {
				background-color: $accent1;
				padding: 0.5ch 2ch;
				text-align: center;
				font-size: 1.5em;
				border-radius: 7px;
				border: 3px solid darken($accent1, 20%);
				text-decoration: none;
				color: white;
			}
			a:hover {
				box-shadow: inset 0 0 0 2ch #3b3b3b60;
			}
		}

		div.socials {

			a {
				padding: 0.5ch 0.5ch;
				text-align: center;
				font-size: 1.5em;
				border-radius: 7px;
				text-decoration: none;
				color: white;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				span.icon {
					display: flex;
					font-size: inherit;
					flex-direction: column;
					justify-content: center;

					svg {
						font-size: inherit;
						width: auto;
						height: 1.5rem;
						fill: white;
					}
				}
				span.text {
					flex-grow: 2;
				}
			}

			a:hover {
				box-shadow: inset 0 0 0 2ch #3b3b3b60;
			}

			a.facebook {
				background-color: #1877f2;
				border: 3px solid darken(#1877f2, 20%);
			}

			a.instagram {
				background-color: #e1306c;
				border: 3px solid darken(#e1306c, 20%);
			}

			a.twitter {
				background-color: #1da1f2;
				border: 3px solid darken(#1da1f2, 20%);
			}

			a.other {
				background-color: $accent2;
				border: 3px solid darken($accent2, 20%);
			}

			a.other:nth-child(2n) {
				background-color: $accent1;
				border: 3px solid darken($accent1, 20%);
			}
		}
	}
}


div.title-bar {
	position: relative;
	z-index: 9999;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid dimgrey;
	border-left: 0;
	border-right: 0;

	color: white;
	background-color: $bg1;

	div.nav {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		color: inherit;

		a {
			color: inherit;
			text-decoration: none;
			border-left: 1px solid dimgrey;
			white-space: nowrap;
			background-color: $bg1;
			//border-bottom: 1px solid dimgrey;

			&.active {
				background-color: $accent1;
			}

			&:hover {
				background-color: $accent1;
			}

			h3 {
				font-weight: normal;
				padding: 0 2ch;
			}
		}
	}

	div.title {
		margin: 1ch;
		padding-left: 1ch;
		color: white;
		white-space: nowrap;

		a {
			text-decoration: none;
			color: white;

			h1 {
				margin: 0;
				color: inherit;
				font-weight: normal;
			}

			&:hover {
				color: $accent1;
			}
		}
	}
}



div.footer {
	background-color: #272727;
	position: relative;
	bottom: 0;
	height: 4ch;
	width: 100vw;
	padding: 1ch;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}