@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

$accent1-colour: #cd4a46;

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: Roboto, sans-serif;
	height: 100vh;
}

div.title-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid dimgrey;
	border-left: 0;
	border-right: 0;

	color: white;
	background-color: #272727;

	div.nav {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		color: inherit;

		a {
			color: inherit;
			text-decoration: none;
			border-left: 1px solid dimgrey;

			&.active {
				background-color: $accent1-colour;
			}

			&:hover {
				background-color: $accent1-colour;
			}

			h3 {
				font-weight: normal;
				padding: 0 2ch;
			}
		}
	}

	div.title {
		margin: 1ch;
		padding-left: 1ch;
		color: inherit;
		h1 {
			margin: 0;
			color: inherit;
			font-weight: normal;
		}
	}

}

div.footer {
	background-color: #272727;
	position: absolute;
	bottom: 0;
	min-height: 4ch;
	//width: 100vw;
	padding: 1ch;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}