div.loader {
	/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
	& {
		//height: 30px;
		margin-left: auto;
		margin-right: auto;
		max-height: 3rem;
		max-width: 7.5rem;
		width: 70%;
		margin-bottom: .8rem;
		aspect-ratio: 2.5;
		@include theme(--_c, text);
		--_g: no-repeat radial-gradient(farthest-side,var(--_c) 90%,#0000);
		//--_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
		background:var(--_g), var(--_g), var(--_g), var(--_g);
		background-size: 20% 50%;
		animation: l43 1s infinite linear;
	}
	@keyframes l43 {
		0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
		16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
		33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
		50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
		66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
		83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
		100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
	}
}