@import "variables";

.portal-nav {
	@include mobile {
		&.ham {
			display: flex;
		}
		&.side {
			display: none;
		}
	}
	@include not-mobile {
		&.ham {
			display: none;
		}
		&.side {
			display: flex;
		}
	}

	&.side {
		@include theme(background-color, bg1);
		flex-direction: column;
		width: fit-content;
		white-space: nowrap;
		padding: 0 1ch;

		ul {
			list-style: none;
			margin-block-start: 0.5em;
			margin-block-end: 0.5em;
		}

		h3 {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			gap: 0.4rem;

			margin-block-start: 0.5em;
			margin-block-end: 0.5em;
		}

		a {
			@include theme(color, text);
			//text-decoration: none;
		}
	}
}

div.main_section {
	@include not-mobile {
		padding: 3ch 0;
	}
}

div.content.m {
	@include not-mobile {
		min-width: 60% !important;
		max-width: 80% !important;
	}
}

.sidebar:not(.m) {
	display: none !important;
}

div.editor-toolbar {
	background-color: white;
}
