@import "variables";

.portal-nav {
	display: flex !important;
	flex-direction: column;
	width: fit-content;
	white-space: nowrap;
	@include theme(background-color, bg1);
	padding: 0 1ch;

	ul {
		list-style: none;
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}

	h3 {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}

	a {
		@include theme(color, text);
		text-decoration: none;

	}
}

div.main_section {
	@media (any-hover: hover) {
		padding: 3ch 0;
	}
}

div.content {
	min-width: 60% !important;
	max-width: 90% !important;
}

.sidebar {
	display: none !important;
}

