@import "variables";

.portal-nav {
	display: flex !important;
	flex-direction: column;
	width: fit-content;
	white-space: nowrap;
	@include theme(background-color, bg1);
	padding: 0 1ch;

	ul {
		list-style: none;
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}

	h3 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 0.4rem;

		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}

	span.icon {
		display: flex;
		font-size: inherit;
		flex-direction: column;
		justify-content: center;

		svg {
			font-size: inherit;
			width: auto;
			height: 1.5rem;
			fill: white;
			@include theme(color, text);// maybe
		}
	}

	a {
		@include theme(color, text);
		//text-decoration: none;

	}
}

div.main_section {
	@include not-mobile {
		padding: 3ch 0;
	}
}

div.content.m {
	min-width: 60% !important;
	max-width: 90% !important;
}

.sidebar:not(.m) {
	display: none !important;
}

div.editor-toolbar {
	background-color: white;
}
