div.link {
	cursor: pointer;
	padding: 1ch;

	&:hover {
		box-shadow: inset 0 0 0 100ch #3b3b3b60;
	}
}

div.details-outer {
	display: grid;
	grid-template-areas:
		"title title"
		"text text"
		"text text"
	;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: auto auto ;
	width: 100%;
	gap: 1rem;

	h1 {
		grid-area: title;
	}
	div.details-inner {
		grid-area: text;
		display: block;
	}

	div.details-text {
		//grid-area: text;
		//width: 100%;
		display: block;
		flex-direction: column;
		text-align: center;
		//gap: 0.7rem;

		p {
			margin-block: .6rem;
		}

		audio {
			margin: 0 auto;
		}

		p.directors_producers a {
			&:not(:only-child):not(:first-of-type):not(:last-of-type)::before {
				content: ", "
			}
			&:not(:only-child):last-of-type::before {
				content: " & "
			}
		}

		summary {
			text-decoration: underline;
		    text-decoration-style: dotted;
		    text-underline-offset: 0.25ch;
			padding-bottom: .325rem;
			&:hover {
				cursor: pointer;
			}
		}
	}

	div.details-cover {
		//grid-area: text;
		float: right;
		margin: 0 0 1rem 1rem;
		width: 40%;
		object-fit: contain;

		img {
			width: 100%;
			object-fit: contain;
		}
	}
}

div.cast_crew {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2ch;
	text-size-adjust: none;
	font-size: 1.375rem;

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
	}

	tr {
		padding: 1ch 0;

		&:nth-of-type(even) {
			@include theme(background-color, bg3);
		}
		&:nth-of-type(odd) {
			@include theme(background-color, bg4);
		}
	}

	div {
		@include not-mobile() {
			min-width: 50%;
		}
		@include mobile {
			min-width: 90%;
		}
	}
}

// remove scrollbar mouse blocking region when in full screen
body:has(div.gallery-container.fullscreen) {
	&::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

div#gallery {
	p.mobile-instructions {
		text-align: center;
		display: none;
	}
	@media (pointer:coarse) {
		p.mobile-instructions {
			display: block;
		}
	}
}

div.gallery-container {
	touch-action: pan-y;
	outline:none;
	&.fullscreen {
		position: fixed;
		top: 0;
		left: 0;

		width: 100dvw !important;
		height: 100dvh !important;
		max-height: 100dvh !important;
		//max-height: 100dvh !important;
		z-index: 15000;

		justify-content: flex-end;
		align-items: stretch;

		@media (orientation: landscape) {
			//font-size: 100% !important;
			font-size: unset;
			flex-direction: row;
			div.gallery-controls {
				flex-direction: column;
				flex-grow: 0;
				max-width: 4rem;
				align-items: stretch;

				div {
					padding: .2rem;
				}

				.counter span {
					text-align: center;
					display: inline-block;
				}
			}
		}

		@media (orientation: portrait) {
			font-size: unset;
			flex-direction: column;
			div.gallery-controls {
				flex-direction: row;
				align-items: center;
			}
		}

		div.gallery-controls {
			font-size: 1rem;
			flex-basis: 0;
			text-align: center;
			justify-content: stretch;

			div {
				flex-grow: 0;

				&.arrow:not(.fullscreen) {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
		}

		div.gallery-images {
			flex-grow: 1;
			flex-basis: 0;
			min-height: 0;
			min-width: 0;
			display: grid;
			object-fit: contain;
			z-index: 20;

			div {
				//background-color: blue;

				grid-area: 1/-1;
				z-index: 10;
				object-fit: contain;
				min-height: 0;
				min-width: 0;

				display: flex;
				align-items: center;
				justify-content: center;

				&:has(img.img-hidden) {
					z-index: 5;
				}

				img, video {
					object-fit: contain;
					min-height: 0;
					min-width: 0;
					width: 100%;
					height: 100%;

					z-index: 10;
					&.img-hidden {
						opacity: 0;
						z-index: 5;
					}
				}
			}
		}
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	//flex-wrap: wrap;

	overflow: hidden;

	@include theme(background, bg0);
	width: 100%;
	//max-height: 60vh;



	&:not(.fullscreen) div.gallery-images {
		width: 100%;

		div.hide {
			display:none;
		}

		div {
			min-height: 0;
			min-width: 0;
		}
	}

	div.gallery-controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		z-index: 30;
		@include theme(background, bg0)
	}

	div.counter {
		padding: 0.2rem 1rem;
	}

	div.arrow {
		z-index:20;
		font-size: 200%;
		font-weight: bold;
		padding: 0.2rem 1rem;
		@include theme(background, bg2);
		@include theme(stroke, text);
		@include theme(fill, text);
		cursor: pointer;
		user-select: none;
		flex-grow: 10;
		text-align: center;

		height: 1.1875em;

		&:hover {
			@include theme-adjust(background, bg2, darken, 4%);
		}

		&.fullscreen {
			flex-grow: 0;
			padding: .2rem .2rem;
		}

		svg.icon {
			display: inline-flex;
			font-size: inherit;
			flex-direction: column;
			justify-content: center;
			width: 1.1875em;
		}
	}
}

div.gallery-container:not(.fullscreen) div.gallery-images {
	flex-grow: 1;
	flex-shrink: 1;

	display: grid;
	overflow: hidden;

	//height:60vh;
	width:100%;

	div {
		height:100%;
		width:100%;

		grid-area: 1/-1;
		z-index: 10;
		object-fit: contain;

		display: flex;
		align-items: center;
		justify-content: center;

		@include not-mobile {
			flex-direction: row;
		}
		@include mobile {
			flex-direction: column;
		}

		img {
			z-index: 10;
			object-fit: contain;
			width: 100%;
			height: 100%;
			max-height: 60vh;
			&.img-hidden {
				opacity: 0;
				z-index: 5;
			}
		}

	 	&:has(img.img-hidden) {
			z-index: 5;
		}

		max-width: 100%;
		max-height: 100%;
	}
}