div.link {
	cursor: pointer;
	padding: 1ch;

	&:hover {
		box-shadow: inset 0 0 0 100ch #3b3b3b60;
	}
}

div.details-outer {
	display: grid;
	grid-template-areas:
		"title title"
		"text text"
		"text text"
	;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: auto auto ;
	width: 100%;
	gap: 1rem;

	h1 {
		grid-area: title;
	}
	div.details-inner {
		grid-area: text;
		display: block;
	}

	div.details-text {
		//grid-area: text;
		//width: 100%;
		display: block;
		flex-direction: column;
		text-align: center;
		//gap: 0.7rem;

		p {
			margin-block: .6rem;
		}

		audio {
			margin: 0 auto;
		}

		p.directors_producers a {
			&:not(:only-child):not(:first-of-type):not(:last-of-type)::before {
				content: ", "
			}
			&:not(:only-child):last-of-type::before {
				content: " & "
			}
		}

		summary {
			text-decoration: underline;
		    text-decoration-style: dotted;
		    text-underline-offset: 0.25ch;
			padding-bottom: .325rem;
			&:hover {
				cursor: pointer;
			}
		}
	}

	div.details-cover {
		//grid-area: text;
		float: right;
		margin: 0 0 1rem 1rem;
		width: 40%;
		object-fit: contain;

		img {
			width: 100%;
			object-fit: contain;
		}
	}
}

div.cast_crew {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2ch;
	text-size-adjust: none;
	font-size: 1.375rem;

	div.cast_member {
		display: grid;
		grid-template-areas:
			"photo name"
			"photo role"
			"photo as"
		;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: 0.5rem;

		h2 {
			grid-area: name;
		}
		h3 {
			grid-area: role;
		}
		h4 {
			grid-area: as;
		}
		div.photo {
			grid-area: photo;
			width: 12.5rem;
			height: 12.5rem;
			aspect-ratio: 1;
			object-fit: fill;
			position: relative;
			overflow: hidden;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
	}

	tr {
		padding: 1ch 0;

		&:nth-of-type(even) {
			@include theme(background-color, bg3);
		}
		&:nth-of-type(odd) {
			@include theme(background-color, bg4);
		}
	}

	div {
		@include not-mobile() {
			min-width: 50%;
		}
		@include mobile {
			min-width: 90%;
		}
	}
}

// remove scrollbar mouse blocking region when in full screen
body:has(div.gallery-container.fullscreen) {
	&::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

div#gallery {
	p.mobile-instructions {
		text-align: center;
		display: none;
	}
	@media (pointer:coarse) {
		p.mobile-instructions {
			display: block;
		}
	}
}

div.gallery-container {
	touch-action: pan-y;
	outline:none;
	&.fullscreen {
		position: fixed;
		top: 0;
		left: 0;

		width: 100dvw !important;
		height: 100vh !important;
		max-height: 100vh !important;
		//max-height: 100dvh !important;
		z-index: 15000;

		justify-content: flex-end;
		align-items: stretch;

		@media (orientation: landscape) {
			//font-size: 100% !important;
			font-size: unset;
			flex-direction: row;
			div.gallery-controls {
				flex-direction: column;
				flex-grow: 0;
				max-width: 4rem;
				align-items: stretch;
				height: 100dvh;

				div {
					padding: .2rem;
				}

				.counter span {
					text-align: center;
					display: inline-block;
				}
			}
		}

		@media (orientation: portrait) {
			font-size: unset;
			flex-direction: column;
			div.gallery-controls {
				flex-direction: row;
				align-items: center;
			}
		}

		div.gallery-controls {
			font-size: 1rem;
			flex-basis: 0;
			text-align: center;
			justify-content: stretch;

			div {
				flex-grow: 0;

				&.arrow:not(.fullscreen):not(.faces) {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				&.faces {
					display: grid;
					place-items: center;
					aspect-ratio: 1;
					span {
						font-size: 2rem;
					}
				}
			}
		}

		div.gallery-images {
			flex-grow: 1;
			flex-basis: 0;
			min-height: 0;
			min-width: 0;
			display: grid;
			object-fit: contain;
			z-index: 20;

			place-items: center;

			> div {
				//background-color: blue;
				//max-height:100%;
				//max-width:100%;

				grid-area: 1/-1;
				z-index: 10;
				object-fit: contain;
				min-height: 0;
				min-width: 0;

				display: flex;
				align-items: center;
				justify-content: center;

				div.img {
					z-index: 10;
					object-fit: contain;
					width: 100%;
					height: 100%;
					//max-height: 60vh;
					&.img-hidden {
						opacity: 0;
						z-index: 5;
					}
					display: grid;
					grid-template-columns: 1fr;
					grid-template-rows: 1fr;
					img {
						grid-area: 1/1/2/2;
						object-fit: contain;
						width: 100%;
						height: 100%;
					}
					div.face_markers {
						grid-area: 1/1/2/2;
						display: grid;
						object-fit: contain;
						grid-template-columns: 1fr;
						grid-template-rows: 1fr;
					}
					div.face_marker	{
						grid-area: 1/1/2/2;
						border: 2px solid #00b23b;
						position: relative;
						z-index: 100;
						display: block;
					}
				}

				@include not-mobile {
					flex-direction: row;
				}
				@include mobile {
					flex-direction: column;
				}

				//&:has(img.img-hidden) {
				//	z-index: 5;
				//}
				//
				//img, video {
				//	object-fit: contain;
				//	min-height: 0;
				//	min-width: 0;
				//	width: 100%;
				//	height: 100%;
				//
				//	z-index: 10;
				//	&.img-hidden {
				//		opacity: 0;
				//		z-index: 5;
				//	}
				//}
			}
		}
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	//flex-wrap: wrap;

	overflow: hidden;

	@include theme(background, bg0);
	width: 100%;
	//max-height: 60vh;



	&:not(.fullscreen) div.gallery-images {
		width: 100%;

		> div.hide {
			display:none;
		}

		> div {
			min-height: 0;
			min-width: 0;

			//img {
			//	grid-area: 1/1/2/2;
			//	z-index: 10;
			//}
			//
			//div.face_marker	{
			//	grid-area: 1/1/2/2;
			//	border: 2px solid #00b23b;
			//	position: relative;
			//	z-index: 100;
			//}
		}
	}

	div.gallery-controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		z-index: 30;
		@include theme(background, bg0)
	}

	div.counter {
		padding: 0.2rem 1rem;
	}

	div.arrow {
		z-index:20;
		font-size: 200%;
		font-weight: bold;
		padding: 0.2rem 1rem;
		@include theme(background, bg2);
		@include theme(stroke, text);
		@include theme(fill, text);
		cursor: pointer;
		user-select: none;
		flex-grow: 10;
		text-align: center;

		height: 1.1875em;

		&:hover {
			@include theme-adjust(background, bg2, darken, 4%);
		}

		&.fullscreen, &.faces {
			flex-grow: 0;
			padding: .2rem .2rem;
		}

		&.faces {
			display: grid;
			place-items: center;
			aspect-ratio: 1;
			span {
				font-size: 2rem;
			}
		}

		svg.icon {
			display: inline-flex;
			font-size: inherit;
			flex-direction: column;
			justify-content: center;
			width: 1.1875em;
		}
	}
}

div#app div.gallery-container > div.gallery-images:not(.faces) > div > div.img > div.face_markers {
	display: none;
}

div.gallery-container div.gallery-images {
	flex-grow: 1;
	flex-shrink: 1;

	display: grid;
	overflow: hidden;

	height:60vh;
	width:100%;

	place-items: center;

	> div {
		max-height:100%;
		max-width:100%;

		grid-area: 1/-1;
		z-index: 10;
		object-fit: contain;

		display: flex;
		align-items: center;
		justify-content: center;

		@include not-mobile {
			flex-direction: row;
		}
		@include mobile {
			flex-direction: column;
		}

		div.img {
			z-index: 10;
			object-fit: contain;
			width: 100%;
			height: 100%;
			max-height: 60vh;
			&.img-hidden {
				opacity: 0;
				z-index: 5;
			}
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			img {
				grid-area: 1/1/2/2;
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
			div.face_markers {
				grid-area: 1/1/2/2;
				display: grid;
				object-fit: contain;
				grid-template-columns: 1fr;
				grid-template-rows: 1fr;
			}
			div.face_marker_outer {
				grid-area: 1/1/2/2;
				position: relative;
				z-index: 100;

				div.face_marker	{
					border: 2px solid #00b23b;
					display: block;
				}
				div.name {
					position: relative;
					z-index: 100;
					display: block;
					text-align: center;
					font-size: 1rem;
					font-weight: bold;
					padding: 0.2rem;
					background-color: rgba(0, 0, 0, 0.5);
					color: white;

					white-space: wrap;

					width: min-content;

					//transform-origin: center center;
					transform: translate(-50%, 15%);
					//left: 50%;
				}
			}
		}

	 	&:has(div.img.img-hidden) {
			z-index: 5;
		}

		//max-width: 100%;
		//max-height: 100%;
	}
}