div#nav {
	min-height: 3.75rem;
}

div.react-nav {
	max-width: 100svw;
    overflow: hidden;

	div.title, div.full-nav, div.hamburger {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 20;

		max-height: 3.75rem;
	}

	div.full-nav {
		max-width: 100%;
		grid-area: nav;
		z-index: 10;

		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
	}

	div.hamburger {
		grid-area: nav;
		z-index: 20;

		display: flex;
		flex-direction: row-reverse;
		align-items: stretch;
		justify-content: space-between;

		&.hide {
			display: none;
		}

		@include theme(background-color, bg1);

		a.hamburger {
			position: sticky;
			right: 0;

			display: flex;
			flex-direction: row;
			align-items: stretch;

			> svg, react-icon {
				width: 5ch;
				aspect-ratio: 1;
				padding: 0 1ch;
				margin: auto 0;
				@include theme(fill, text);

				> svg {
					display: block;
				}
			}
		}
	}

	div.gap {
		max-width: 100%;
		flex-grow: 5;
		width: 100%;
	}

	div.expander {
		display: grid;
		&.expanded {
			grid-template-rows: 1fr;
		}
		grid-template-rows: 0fr;
        overflow: hidden;
	}

	//display: flex;
	//flex-direction: row;
	//align-items: stretch;
	//justify-content: space-between;

	display: grid;
	transition: all 500ms;
	grid-template-columns: min-content 1fr;
	grid-template-rows: min-content 0fr min-content;
	grid-template-areas:
		"name nav"
		"mobile-nav mobile-nav"
		"members-nav members-nav"
	;

	&:has(div.mobile-nav.show) {
		grid-template-rows: min-content 1fr min-content;
		transition: all 500ms;
	}
	&:not(:has(div.mobile-nav.show)) {
		grid-template-rows: min-content 0fr min-content;
		transition: all 500ms;
	}

	border-bottom: 1px solid dimgrey;
	border-left: 0;
	border-right: 0;

	@include theme(color, text);
	@include theme(background-color, bg1);
}

div.nav, div.mobile-nav, div.hamburger {
	list-style-type: none;

	display: flex;
	align-items: stretch;
	color: inherit;

	a {
		&.active {
			@include theme(background-color, accent1);
			@include theme(color, inv_text);
		}

		&:not(.title):hover {
			@include theme(background-color, accent1);
			@include theme(color, inv_text);
			cursor: pointer;
		}

		.mobile {
			display: none;
		}
	}

	&.mobile-nav {
		flex-direction: column;
		text-align: center;
		gap: .7rem;
		//padding: .7rem 0;
		grid-area: mobile-nav;
		align-items: flex-start;
		@include theme(background-color, bg2);

        overflow: hidden;

		&.hide {
			//display: none;
		}

		a {
			&.active {
				@include theme(background-color, accent1);
				@include theme(color, inv_text);
			}

			@include theme(background-color, bg3);

			&:first-child {
				margin-top: .7rem;
			}
			&:last-child {
				margin-bottom: .7rem;
			}

			> svg {
				display: none;
			}

			> h3.mobile {
				display: block;
			}
		}
	}

	&.nav, &.hamburger {
		flex-direction: row;

		a {
			&.search {
				display: flex;
				flex-direction: row;
				align-items: stretch;
			}

			&.hamburger {
				&.show {
					display: flex;
				}
				display: none;

				flex-direction: row;
				align-items: stretch;
				justify-content: center;
				svg {
					display: block;
					fill: none;
					@include theme(stroke, text);
					stroke-width: 7%;
					margin: auto 0;
					//transition: transform 500ms;
					transition: transform 500ms;
					transform-origin: 50% 50%;

					path {
						transition: transform 500ms;
						&.line.one {
							transform: rotate(0deg);
							transform-origin: calc(15*100%/70)calc(19*100%/70);
						}
						&.line.two {
							transform-origin: 50% 50%;
						}
						&.line.three {
							transform-origin: calc(15*100%/70)calc(51*100%/70);
						}
					}

					&:not(.collapsed) {
						transform: translateX(4.23*100%/70) scale(120%);
						transform-origin: 50% 50%;
						.line.one {
							transform: rotate(45deg);
							transform-origin: calc(15*100%/70)calc(19*100%/70);
						}
						.line.two {
							transform: scale(0);
							transform-origin: 50% 50%;
						}
						.line.three {
							transform: rotate(-45deg);
							transform-origin: calc(15*100%/70)calc(51*100%/70);
						}
					}
				}
			}

			> svg, react-icon {
				width: 5ch;
				padding: 0 1ch;
				margin: auto 0;
				@include theme(fill, text);

				> svg {
					display: block;
				}
			}

			color: inherit;
			text-decoration: none;
			border-left: 1px solid dimgrey;
			white-space: nowrap;
			//@include theme(background-color, bg1);
			width: unset !important;
			//border-bottom: 1px solid dimgrey;

			h3 {
				font-weight: normal;
				padding: 0 1rem;
			}

		}
	}
}

div.title {
	//margin: 1ch;
	padding: 0 1ch;
	@include theme(color, text);
	@include theme(background-color, bg1);
	white-space: nowrap;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	z-index: 20;

	a {
		text-decoration: none;
		@include theme(color, text);
		@include theme(fill, text);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		span.icon {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		svg {
			display: inline-block;
			width: 3em;
			//fill: inherit;
			padding-right: 1ch;
		}

		h1 {
			display: inline-block;
			margin-block-start: 0.33em;
            margin-block-end: 0.33em;
			color: inherit;
			font-weight: normal;
		}

		&:hover {
			@include theme(color, accent1);
			@include theme(fill, accent1);
		}
	}
}

div#desktop_member_nav {
	&:not(:has(> *)) {
		display: none;
	}

	> div.members-nav-outer {
		grid-template-columns: 1fr 0fr;
	}
}

div.members-nav-outer {
	grid-area: members-nav;
	width: 100dvw;
	select {
		height: 3rem;
		font-size: 1.7rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 550;
		padding-left: 1rem;
		@include theme(color, text);
		@include theme(background-color, bg1);
		border-left: 0;

		option:focus, option:checked {
			@include theme(background-color, accent1);
		}
	}
}

.members-nav-main, .members-nav-sub {
	min-width: 1rem;
	&.members-nav-main {
		grid-area: members-nav;
	}

	a {
		display: flex;
		align-items: center;
		gap: .5rem;

		svg.icon {
			height: 1.85rem;
			width: 1.85rem;
			@include theme(fill, text);
		}
	}

	ul {
		list-style: none;
		li > a > h3 {
			margin-block-start: 0 !important;
			margin-block-end: 0 !important;
			font-weight: normal;
			font-size: 1rem;
		}
	}
}

