div.link {
	cursor: pointer;
	padding: 1ch;

	&:hover {
		box-shadow: inset 0 0 0 100ch #3b3b3b60;
	}
}

div.content:has(div.gallery-container:not(.fullscreen)) {
	@include mobile {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		width: 100vw !important;
		box-sizing: border-box;

		& > div {
			//width: calc(100dvw - 1rem) !important;
			width: calc(100vw - 1rem) !important;
			max-width: calc(100vw - 1rem) !important;
			box-sizing: border-box;

			& div.gallery-container {
				margin: 0 auto;
			}
		}
	}
}

div.details-outer {
	display: grid;
	grid-template-areas:
		"title title"
		"text text"
		"text text"
	;
	grid-template-columns: 6fr 4fr;
	grid-template-rows: auto auto ;
	width: 100%;
	gap: 1rem;

	h1 {
		grid-area: title;
	}
	div.details-inner {
		grid-area: text;
		display: block;
	}

	div.details-text {
		//grid-area: text;
		//width: 100%;
		display: block;
		flex-direction: column;
		text-align: center;
		//gap: 0.7rem;

		p {
			margin-block: .6rem;
		}

		audio {
			margin: 0 auto;
		}

		p.directors_producers a {
			&:not(:only-child):not(:first-of-type):not(:last-of-type)::before {
				content: ", "
			}
			&:not(:only-child):last-of-type::before {
				content: " & "
			}
		}

		summary {
			text-decoration: underline;
		    text-decoration-style: dotted;
		    text-underline-offset: 0.25ch;
			padding-bottom: .325rem;
			&:hover {
				cursor: pointer;
			}
		}
	}

	div.details-cover {
		//grid-area: text;
		float: right;
		margin: 0 0 1rem 1rem;
		width: 40%;
		object-fit: contain;

		img {
			width: 100%;
			object-fit: contain;
		}
	}
}

div.cast_crew {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 2ch;
	text-size-adjust: none;
	font-size: 1.375rem;

	div.cast_member {
		display: grid;
		grid-template-areas:
			"photo name"
			"photo role"
			"photo as"
		;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;
		gap: 0.5rem;

		h2 {
			grid-area: name;
		}
		h3 {
			grid-area: role;
		}
		h4 {
			grid-area: as;
		}
		div.photo {
			grid-area: photo;
			width: 12.5rem;
			height: 12.5rem;
			aspect-ratio: 1;
			object-fit: fill;
			position: relative;
			overflow: hidden;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 0;
	}

	tr {
		padding: 1ch 0;

		&:nth-of-type(even) {
			@include theme(background-color, bg3);
		}
		&:nth-of-type(odd) {
			@include theme(background-color, bg4);
		}
	}

	div {
		@include not-mobile() {
			min-width: 50%;
		}
		@include mobile {
			min-width: 90%;
		}
	}
}

// remove scrollbar mouse blocking region when in full screen
body:has(div.gallery-container.fullscreen) {
	&::-webkit-scrollbar {
	  display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

div#gallery {
	p.mobile-instructions {
		text-align: center;
		display: none;
	}
	@media (pointer:coarse) {
		p.mobile-instructions {
			display: block;
		}
	}
}
