
.past_shows_title {
	display: flex;
	flex-direction: row;
	//align-items: center;
	justify-content: space-between;
	margin: 1.5ch 0;
	flex-wrap: wrap;
	gap: 0.7rem;

	h2 {
		margin: 0;
	}

	.quick-search {
		margin: 0 1%;
		padding: 0.5rem 0.5rem 0;
		flex-grow: 10;
		min-width: 80%;
	}

	.cards_switch {
		display: flex;
		gap: 1ch;
		align-items: center;
		padding: 0.3ch;

		.switch {
			font-size: 150%;
		}
	}

	button {
		padding: 0.7ch;
		border: 2px solid;
		@include theme(border-color, accent2);
		border-radius: 1ch;

		@include theme(background-color, bg3);
		@include theme(color, text);

		&:hover {
			cursor: pointer;
			@include theme-adjust(box-shadow, accent2, rgba, .37, inset 0 0 0 1000ch);
		}
	}
}



div#past_shows, table:not([class]) {
	max-width: 100%;
	overflow: hidden;

	h3 {
		margin: 0;
	}

	tr th:nth-child(1),
	tr td:nth-child(1) {
		display: none;
	}

	border-collapse: collapse;

	tr {
		cursor: pointer;
		transition: box-shadow 150ms ease-in-out;
		&:hover {
			box-shadow: inset 0 0 0 1000ch #3CB5B960;
		}
		padding-bottom: 0.5ch;
	}
}

@include mobile {
	body {
		overflow-x: scroll;
	}
}

table.table_mode, div.table_mode {
	width: 100%;
	height: auto;

	img.programme {
		height: 5rem;
		width: 5rem;
		object-fit: cover;
		vertical-align: middle;
	}

	& > a, & > div.header {
		display: grid;
		gap: .5rem;
		grid-template-rows: 1fr;
		grid-template-columns: 5rem repeat(5, 1fr);

		&.header {
			@include theme(background-color, bg2);
			text-align: center;
			.image {
				grid-area: 1 / 1 / 1 / 1;
			}
			.show_title {
				grid-area: 1 / 1 / 2 / 3;
			}
		}
	}

	td, div {
		//padding: 0 1ch;
		margin: auto 0;
	}

	tr:nth-child(2n), a:nth-child(2n) {
		@include theme(background-color, bg3);
		&:hover {
			@include theme-adjust(box-shadow, accent1, rgba, .37, inset 0 0 0 1000ch);
		}
	}
	tr:nth-child(2n+1), a:nth-child(2n+1) {
		@include theme(background-color, bg2);
		&:hover {
			@include theme-adjust(box-shadow, accent2, rgba, .37, inset 0 0 0 1000ch);
		}
	}

	span.card-subtitle {
		display: none;
	}

	th span {
		display: none;

		&.desc {
			display: inline-block;
			&#season_arrow {
				transform: rotate(180deg);
			}
		}

		&.asc {
			display: inline-block;
			transform: rotate(180deg);
			&#season_arrow {
				transform: rotate(360deg);
			}
		}
	}
}

table.cards_mode, div.cards_mode {
	width: 100%;
	tr:nth-child(1) {
		display: none;
	}

	.header {
		display: none;
	}

	tbody, &:not(table).cards_mode {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 1ch;
		vertical-align: baseline;
	}

	tr, a.link {
		text-decoration: none;
		flex: 1 1 15rem;

		border-radius: 3ch;
		border-spacing: 0;
		cursor: pointer;

		&:nth-child(2n) {
			border: 3px solid;
			@include theme(border-color, accent1);
			@include theme(background-color, bg3);
			&:hover > * {
				@include theme-adjust(box-shadow, accent1, rgba, .37, inset 0 0 0 1000ch);
			}
		}
		&:nth-child(2n+1) {
			border: 3px solid;
			@include theme(border-color, accent2);
			@include theme(background-color, bg2);
			&:hover > * {
				@include theme-adjust(box-shadow, accent2, rgba, .37, inset 0 0 0 1000ch);
			}
		}

		display: flex;
		flex-direction: column;

		width: 20ch;
		word-wrap: normal;
		overflow: hidden;

		td, div {
			text-align: center;
			background-color: inherit;

			&.title {
				flex-grow: 4;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
		div.image {
			width: 100%;
			overflow: hidden;
		}

		img.programme {
			max-width: 100%;
			object-fit: contain;
		}

		span.card-subtitle {
			//overflow: hidden;
			//text-align: center;
			//white-space: nowrap;
			font-weight: bold;
			padding: 0 0.8ch;

			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			gap: 1ch;

			hr {
				flex-grow: 1;
				display: inline-block;
				vertical-align: bottom;
			}
			&:not(:first-child) {
				display: none;
			}
		}
	}
}

