@import "variables";

:root {
	--ts-pr-min: 1rem !important;
	//&:has(div.main-outer.mobile) {
	//	--ts-pr-min: 1.875rem !important;
	//}
}

.ts-control, .ts-dropdown {
	font-size: 1rem;
	line-height: initial;
	input {
		font-size: 1rem;
		line-height: initial;
	}
}

div.react-fancy-input {
	position: relative;
	width: 100%;
	display: flex;

	@include mobile {
		&:not(.no-margin){
			margin-top: 2.5rem;
		}
		&.no-margin {
			margin-top: 0.7rem;
		}
	}
	@include not-mobile {
		margin-top: 1.2rem;
	}

	textarea {
		height: 10rem;
	}

	&:has(input[type=hidden]) {
		height: 0;
		margin: 0 !important;
		padding: 0;
	}

	select, input, textarea, a, button {
		@include theme(background, bg3);
		@include theme(color, text);
		margin: 0.01ch;
		width: 100%;
		border: 2px solid grey;
		position: relative;
		top: 0;
		left: 0;
		z-index: 1;
		padding: 12px 12px 12px 12px;
		outline: 0;
		box-sizing: border-box;
		border-radius: 7px;

		@media (min-resolution: 1.5dppx) {
			font-size: 150%;
		}

		&[type=submit], &[type=button], &.button {
			margin: auto;
			width: auto;
			padding: 0.5rem 2rem;
			cursor: pointer;
			border-width: 0.3rem;
			font-size: 115%;

			&:hover {
				@include theme(box-shadow, bg4, 0 0 0 1000rem, inset);
			}
		}

		&[type=date]:invalid {
			color: #00000000;
		}

		&[type="date"]::-webkit-calendar-picker-indicator {
			background: transparent;
			bottom: 0;
			color: transparent;
			cursor: pointer;
			height: auto;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
		}

		&:focus,
		&:not([type=text]):valid,
		&[type=text]:not(:placeholder-shown),
		&:not(.disabled).border_accent2 {
			@include theme(border-color, accent2);
		}

		&.disabled {
			user-select: none;
			pointer-events: none;
			text-decoration: line-through;
		}

		&:focus + label,
		&:hover + label,
		& + label:hover,
		&:not([type=text]):valid + label,
		&[type=text]:not(:placeholder-shown) + label {
			@include theme(color, text);
			font-size: 100%;
			padding-top: 0 !important;
			z-index: 2;
			text-transform: uppercase;
			bottom: 100%;
			margin-top: -2ch;
		}
	}

	@include mobile {
		&:focus + label,
		&:not([type=text]):valid + label,
		&[type=text]:not(:placeholder-shown) + label {
			font-size: 140%;
		}
	}
	@include not-mobile {
		&:focus + label,
		&:not([type=text]):valid + label,
		&[type=text]:not(:placeholder-shown) + label {
			padding-left: 1.2ch;
			font-size: 90%;
		}
	}

	label {
		transition:
				background 0.2s,
				color 0.2s,
				top 0.2s,
				bottom 0.2s,
				right 0.2s,
				left 0.2s,
				padding 0.2s;
		position: absolute;
		//color: #999;
		@include theme(color, text);
		//padding-left: 1.5ch;
		top: 0;
		text-align: center;
		margin: auto;
		z-index: 2;

		@include mobile {
			padding-top: 0.6ch;
			padding-left: 0.6ch;
			font-size: 150%;
		}
		@include not-mobile {
			padding-top: 1.4ch;
			padding-left: 1.4ch;
			font-size: 100%;
		}

		&.showme {
			@include theme(color, text);
			//font-size: 70%;
			padding-left: 1.2ch;
			padding-top: 0;
			z-index: 2;
			text-transform: uppercase;
			bottom: 100%;
			margin-top: -2ch;
		}
	}
}

div.dual_range {
	div.sliders {
		width: 100%;
		display: flex;
		font-size: 0;
		div {
			width: 1rem;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			place-items: center;
			meter {
				z-index: 1;
				grid-area: 1 / 1 / 2 / 2;
				width: 100%;
				height: 1rem;
				&::-webkit-meter-optimum-value {
					@include theme(background-color, accent1);
				}
			}
		}
		div.lower {
			direction: rtl;
			meter {
				padding-left: 0.5rem;
				&::-webkit-meter-bar {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border-right: 0;
				}
			}
		}
		div.higher {
			meter {
				padding-right: 0.5rem;
				&::-webkit-meter-bar {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-left: 0;
				}
			}
		}
		input {
			z-index: 10;
			grid-area: 1 / 1 / 2 / 2;
			width: 100%;
			//margin: 0;
			outline: none;
			appearance: none;
			-webkit-appearance: none;
			background: transparent;
			cursor: pointer;
			margin: 2px 0;
			&::-webkit-slider-runnable-track {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: .5rem 0;
				&::before {
					display:block;
					width: 0;
					flex-grow: 100;
					height: .5rem;
					@include theme(background-color, accent1);
				}
				&::after {
					display:block;
					width: 0;
					flex-grow: 100;
					height: .5rem;
					@include theme(background-color, accent1);
				}

				height: .5rem;
				//@include theme(background-color, accent1);
			}
			&::-moz-range-track {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				place-items: center;
				margin: .5rem 0;

				height: .5rem;
				@include theme(background-color, accent1);
			}
			&::-webkit-slider-thumb {

			}
			&::-moz-range-thumb {

			}
		}
	}
}

form:has(> div.form):has(>div.loader) {
	display: grid;
	box-sizing: border-box;
	width: 100%;

	&.pending {
		*:not(.loader) {
			opacity: 0;
		}
		> div.loader {
			z-index: 1;
			place-self: center;
		}
	}

	&:not(.pending) {
		> div.loader {
			opacity: 0;
		}
	}

	div.form {
		grid-area: 1 / 1 / -1 / -1;
	}

	div.loader {
		grid-area: 1 / 1 / -1 / -1;
		margin-bottom: 0;
		z-index: -1;
	}
}