{% extends "members/members_layout.html" %}
{% block portal_content %}
	<h1>Account Settings</h1>
	<div class="form_container">

		{# PASSWORD #}
		<form action="" method=post>
			<h2>Change Password</h2>
			{% if session.get("set_password") %}
				<h3><span class="form_error">For account security, you need to change your password.</span></h3>
			{% endif %}
			<div class="fancy-input">
				<input type="password" name="old_password" placeholder=" " required>
				<label for="old_password">
					Old Password
					{% if request.args.get('e') == "old_password" %}
						<span class="form_error"> - Wrong Password</span>
					{% endif %}
				</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="password" name="new_password" required>
				<label for="new_password">New Password</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="password" name="confirm_new_password" placeholder=" " required>
				<label for="confirm_new_password">
					Confirm New Password
					{% if request.args.get('e') == "confirm_new_password" %}
						<span class="form_error"> - Passwords do not match </span>
					{% endif %}
				</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="submit" name="submit" value="Change Password">
			</div>
			{% if request.args.get('e') == "pwd_success" %}
				<span class="form_success"> - Password was changed successfully.</span>
			{% endif %}
		</form>
		{# OTP #}
		<form action="" method=post>
			<h2>Setup 2 Factor Authentication</h2>
				{% if request.args.get('e') == "otp_success" %}
					<span class="form_success"> - 2FA was successfully set up.</span>
				{% endif %}
			<details>
				<summary>Show QR Code</summary>
				<input type="hidden" name="otp_qr" value="{{ otp_qr }}">
				<div class="qr">
					<img src="{{ qrcode(otp_qr, border=1) }}" alt="qr code">
					<ol>
						<li>Scan QR Code with your Authenticator app (i.e. Google Authenticator)</li>
						<li>Follow the instructions on your phone to add it to your app.</li>
						<li>Type the generated code into the box below and click "Activate 2FA"</li>
					</ol>
				</div>
			</details>
			{% if not current_user.otp_secret %}
				<br>
				<div class="fancy-input">
					<input type="text" name="otp_code" value="" placeholder=" " required>
					<label for="otp_code">
						Enter 2FA Code from App
						{% if request.args.get('e') == "empty_otp_code" %}
							<span class="form_error"> - 2FA Code cannot be empty </span>
						{% endif %}
						{% if request.args.get('e') == "bad_otp_code" %}
							<span class="form_error"> - 2FA Code was incorrect </span>
						{% endif %}
					</label>
				</div>

				<br>
				<div class="fancy-input">
					<input type="submit" name="submit" value="Activate 2FA">
				</div>
			{% endif %}
		</form>
		{# PROFILE #}
		<form action="" method=post>
			<h2>Update Profile</h2>
			<div class="fancy-input">
				<input type="text" name="firstname" value="{{ current_user.firstname }}" placeholder=" " required>
				<label for="firstname">
					Firstname
					{% if request.args.get('e') == "empty_firstname" %}
						<span class="form_error"> - Firstname cannot be empty </span>
					{% endif %}
				</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="text" name="lastname" value="{{ current_user.lastname }}" placeholder=" " required>
				<label for="lastname">
					Lastname
					{% if request.args.get('e') == "empty_lastname" %}
						<span class="form_error"> - Lastname cannot be empty </span>
					{% endif %}
				</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="submit" name="submit" value="Update Profile">
			</div>
			{% if request.args.get('e') == "profile_success" %}
				<span class="form_success"> - Profile was updated successfully.</span>
			{% endif %}
		</form>
		{# EMERGENCY CONTACT #}
		<form action="" method=post>
			<h2>Emergency Contact</h2>
			<div class="fancy-input">
				<input type="text" name="contact_name" value="{{ current_user.e_con_name or "" }}" placeholder=" " required>
				<label for="firstname">
					Name
					{% if request.args.get('e') == "empty_name" %}
						<span class="form_error"> - Name cannot be empty </span>
					{% endif %}
				</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="text" name="contact_phone" value="{{ current_user.e_con_phone or "" }}" placeholder=" " required>
				<label for="contact_phone">
					Phone Number
					{% if request.args.get('e') == "empty_phone" %}
						<span class="form_error"> - Phone Number cannot be empty </span>
					{% endif %}
				</label>
			</div>
			<br>
			<div class="fancy-input">
				<input type="submit" name="submit" value="Save Contact Info">
			</div>
			{% if request.args.get('e') == "contact_success" %}
				<span class="form_success"> - Profile was updated successfully.</span>
			{% endif %}
		</form>
	</div>
{% endblock %}