{% extends "members/members_layout.html" %}
{% block portal_content %}
	<h2>
	    Admin Tools
	</h2>
	<ul>
	    <li><a href="/members/manage_media">Manage Media</a></li>
	    <li><a href="/members/manage-shows">Manage Shows</a></li>
	    <li><a href="/members/set_show_photos/oauth">Update Photos</a></li>
	    <li><a href="/members/add-show-member">Add New Members</a></li>
	    <li><a href="/members/manage_users">Manage Users</a></li>
	    <li><a href="/members/admin_settings">Admin Settings</a></li>
	</ul>
{% endblock %}