{% extends "members/members_layout.html" %}
{% block portal_content %}
	<h2>Edit Show</h2>
	<form action="" id="show-form" method="post">
		<input type="number" style="display: none;" name="cast_count" id="cast_count" value="0">
		<input type="number" style="display: none;" name="crew_count" id="crew_count" value="0">
		<div class="form_section show_details">
			<div class="quick-row">
				<h2>Details</h2>
			</div>
			<div class="fancy-input">
				<input type="text" name="show-title" id="show-title" placeholder=" " value="{{ show.title or '' }}">
				<label for="show-title">Title</label>
			</div>
			<div class="fancy-input">
				<input type="text" name="show-subtitle" id="show-subtitle" placeholder=" " value="{{ show.subtitle or '' }}">
				<label for="show-subtitle">Subtitle</label>
			</div>
			<div class="fancy-input">
				<input type="date" name="last-perf" id="last-perf" value="{{ str(show.date)[0:10] }}" required>
				<label for="last-perf">Last Performance Date</label>
			</div>
			<div class="fancy-input">
				<select name="season" id="season" required>
					<option value=""></option>
					<option {% if show.season == "New Year" %}selected{% endif %} value="New Year">New Year</option>
					<option {% if show.season == "Spring" %}selected{% endif %} value="Spring">Spring</option>
					<option {% if show.season == "Autumn" %}selected{% endif %} value="Autumn">Autumn</option>
				</select>
{#				<input type="dropdown" name="season" id="season" required>#}
				<label for="season">Season</label>
			</div>
			<div class="fancy-input">
				<select name="show-type" id="show-type" required>
					<option value=""></option>
					<option {% if show.show_type == "Stage" %}selected{% endif %} value="Stage">Stage</option>
					<option {% if show.show_type == "Radio" %}selected{% endif %} value="Radio">Radio</option>
				</select>
{#				<input type="dropdown" name="show-type" id="show-type" required>#}
				<label for="show-type">Show Type</label>
			</div>
			<div class="fancy-input">
				<input type="text" name="genre" id="genre" placeholder=" " value="{{ show.genre or '' }}">
				<label for="genre">Genre</label>
			</div>
			<div class="fancy-input">
				<input type="text" name="show-author" id="show-author" placeholder=" " value="{{ show.author or '' }}">
				<label for="show-author">Author</label>
			</div>
			<div class="fancy-input">
				<input type="text" name="programme-img" id="programme-img" placeholder=" " value="{{ show.programme or '' }}">
				<label for="programme-img">Programme Image URL</label>
			</div>
{#			<div class="fancy-input">#}
{#				<input type="text" name="gallery-link" id="gallery-link" placeholder=" " value="{{ show.gallery_link or '' }}">#}
{#				<label for="gallery-link">Gallery Link</label>#}
{#			</div>#}

			<input type="submit" value="Save Show">
		</div>
		<div class="form_section show_text_block">
			<div class="quick-row">
				<h2>Show Text Block</h2>
			</div>
			<textarea id="wysiwyg">
			</textarea>
		</div>
		<div class="form_section cast_and_crew">
			<div class="quick-row">
				<h2>Cast</h2>
				<button type="button" onclick="addCast()"><span>Add Cast Entry</span></button>
			</div>
				<div id="cast-entries" class="entries-container">
				</div>
			<div class="quick-row">
				<button type="button" onclick="addCast()">Add Cast Entry</button>
			</div>
		</div>
		<div class="form_section cast_and_crew">
			<div class="quick-row">
				<h2>Crew</h2>
				<button type="button" onclick="addCrew()">Add Crew Entry</button>
			</div>
				<div id="crew-entries" class="entries-container">
				</div>
			<div class="quick-row">
				<button type="button" onclick="addCrew()">Add Crew Entry</button>
			</div>
		</div>

		<script>
			let crew_roles = [
				{% for i in crew_roles %}
					{ value:"{{ i.role_name }}" }{% if not loop.last %},{% endif %}
				{% endfor %}
			]

			let prefill_json = JSON.parse('{{ prefill_members | safe }}')
		</script>

		<datalist id="roles">
			{% for i in crew_roles %}
				<option value="{{ i.role_name }}"></option>
			{% endfor %}
		</datalist>

		<template id="cast-template">
			<div class="entry cast" id="casttemplate">
				<span class="r">
					<div class="fancy-input">
						<input type="text" placeholder=" " id="cast_rolestemplate">
						<label for="cast_rolestemplate" id="cast_roles_labeltemplate">Role...</label>
					</div>
				</span>
				<span class="m"><select id="cast_memberstemplate" placeholder="Select Members">
					{% for i in members %}
						<option value="{{ i.id }}">{{ i.firstname }} {{ i.lastname }}</option>
					{% endfor %}
				</select></span>
			</div>
		</template>
		<template id="crew-template">
			<div class="entry crew" id="crewtemplate">
				<span class="r"><input type="text" placeholder="Role..." id="crew_rolestemplate"></span>
				<span class="m"><select id="crew_memberstemplate" placeholder="Select Members">
					{% for i in members %}
						<option value="{{ i.id }}">{{ i.firstname }} {{ i.lastname }}</option>
					{% endfor %}
				</select></span>
			</div>
		</template>
	</form>
{% endblock %}