{% extends "members/members_layout.html" %}
{% block portal_content %}
	<h1>Historic Sales</h1>
	<select onchange=window.location.href=`?show_id=${this.value}`>
		<option value="" {% if not id %}selected{% endif %} disabled>Select Show...</option>
		{% for show in shows %}
			<option value="{{ show.id }}" {% if id == show.id %}selected{% endif %}>{{ show.title }}</option>
		{% endfor %}
	</select>
	{% if data is not none %}
		<h3>Sales</h3>
		<table>
			<thead>
				<tr>
					<th>Item</th>
					<th>Online</th>
					<th>At Door</th>
				</tr>
			</thead>
			<tbody>
				{% set ns = namespace(expected_total=0) %}
				{% for key, value in data %}
					{% set row_total = ({"Adult": 10, "Junior": 8, "Free": 0}.setdefault(key.split(" - ")[-1], 0)*(value+(pos_sum[key] or 0))) %}
					{% set ns.expected_total = ns.expected_total + row_total %}
					{% if key.split(" - ")[-1] != "wait listing" %}
					{% if loop.index0 > 0 and " - ".join(loop.previtem[0].split(" - ")[:-1]) != " - ".join(key.split(" - ")[:-1]) %}
						<tr>
							<td><hr></td>
							<td><hr></td>
							<td><hr></td>
							<td><hr></td>
						</tr>
					{% endif %}
					<tr>
						<td>{{ key }}</td>
						<td>{{ value }}</td>
						<td>{{ pos_sum[key] or 0 }}</td>
						<td>£{{ '%0.2f' % row_total }}</td>
					</tr>
					{% endif %}
				{% endfor %}
				<tr>
					<td><hr></td>
					<td><hr></td>
					<td><hr></td>
					<td><hr></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td>Sub Total:</td>
					<td>£{{ '%0.2f' % ns.expected_total }}</td>
				</tr>
			</tfoot>
		</table>
	{% endif %}
	{% if totals is not none %}
		<h3>Amounts</h3>
		<table>
			<tbody>
				<tr>
					<th>Square Income</th>
					<td>£{{ '%0.2f' % (totals["paid"]/100.0) }}</td>
				</tr>
				{% if totals["expected_refunds"] != totals["actual_refunds"] %}
					<tr>
						<th>Expected Refunds</th>
						<td>£{{ '%0.2f' % (totals["expected_refunds"]/100.0) }}</td>
					</tr>
					<tr>
						<th>Square Refunds</th>
						<td>£{{ '%0.2f' % (totals["actual_refunds"]/100.0) }}</td>
					</tr>
				{% else %}
					<tr>
						<th>Refunds</th>
						<td>£{{ '%0.2f' % (totals["actual_refunds"]/100.0) }}</td>
					</tr>
				{% endif %}
				<tr>
					<th>Sub Total</th>
					<td>£{{ '%0.2f' % ns.expected_total }}</td>
				</tr>
				<tr>
					<th>Fees</th>
					<td>£{{ '%0.2f' % (totals["fees"]/100.0) }}</td>
				</tr>
				<tr>
					<th>Net</th>
					<td>£{{ '%0.2f' % (totals["net"]/100.0) }}</td>
				</tr>
				{% if errors %}
					<tr>
						<th>Errors</th>
						<td>{{ errors }}</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	{% endif %}

{% endblock %}