{% extends "members/members_layout.html" %}
{% block portal_content %}
	<h1>{{ show.title }}</h1>

	{% if current_user in editors %}
		<div class="manage">
			<h2>Manage Show</h2>
			<h3>Add Files</h3>
			<form action="/members/upload_file/{{ show.id }}" method=post enctype=multipart/form-data>
				<input type=file name=file>
	            <input type=submit value=Upload>
			</form>
			<br>
			<h3>Create a New Post</h3>
			<button type="button" onclick="window.location.href='/members/new_post/{{ show.id }}'">Create New Post</button>
			<hr>
		</div>
	{% endif %}
	
	<div class="files">
		<h2>Files</h2>
		{% for file in files %}
			<a href="/members/file/{{ file.id }}/{{ file.name }}" download>{{ file.name }}</a>
			{% if current_user in editors %}<a href="/members/file_delete/{{ file.id }}/{{ file.name }}" onclick="return confirm('Are you sure?')">Delete</a>{% endif %}
			<br>
		{% endfor %}
		{% if len(files) == 0 %}
			Nothing to see here.
		{% endif %}
		<hr>
	</div>

	<div class="posts">
		<h2>Announcements</h2>
		{% for post in posts %}
			<a class="post" href="/members/post/{{ post.id }}">
				<h2>{{ post.title }}</h2>
				{{ post.date.strftime("%d %b %Y") }}
				<p>{{ md(post.content) | safe }}</p>
			</a>
			{% if not loop.last %}
				<hr>
			{% endif %}
		{% endfor %}
		{% if len(posts) == 0 %}
			Nothing to see here.
		{% endif %}
	</div>
{% endblock %}