{% extends "layout.html" %}
{% block content %}
	<h2>Manage Static Media</h2>
	<hr>
	<div class="container">
		<div class="details">
			<div class="upload">
				<h3>Upload New Item</h3>
				<form action="/members/manage_media" method="POST" enctype="multipart/form-data">
					<input type="file" name="fileElem" id="fileElem">
					<button type="submit">Upload</button>
				</form>
				<hr>
			</div>
			<div id="info" class="greyed">
				<h3>Items Details</h3>
				<div class="item_name">Filename: <span class="box scroll" id="filename">Please select an item...</span></div>
				<div class="url">Media URL: <span class="box scroll" id="url">Please select an item...</span><button type="button" onclick="copy_me('url')">Copy</button></div>
				<div>Preview: <br><div class="image box"><img id="image" src="" alt=""/></div></div>
				<button type="button" id="delete" class="delete">Delete</button>
			</div>
		</div>
		<div class="media_items">
	{#		<h3>images go here</h3>#}
			{% for image in thumbs %}
				<div class="media_item" onclick="select_media(this)">
					<img src="{{ image[1] }}" alt="{{ image[0] }}" title="{{ image[2] }}" width="200" height="200">
					<data value=""
					      data-id="{{ image[0] }}"
					      data-name="{{ image[2] }}"
					      data-url="/media/{{ image[0] }}/{{ image[2] }}">
					</data>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}