<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html id="html" class="{{ session.get("theme", "auto") }}" lang="en">
<head>
	<meta charset="UTF-8">
	{% if title is defined and title != "" %}
		<title>{{ title }} - {{ web_config["site-name"] }}</title>
	{% else %}
		<title>{{ web_config["site-name"] }}</title>
	{% endif %}
	{% if css is defined %}
		{% if type(css) == type("string") %}
			{% set css = [css] %}
		{% endif %}
		{% for file in css %}
			<link href="/css/{{ file }}" rel="stylesheet" type="text/css">
		{% endfor %}
	{% endif %}


	<!--suppress HtmlUnknownTarget -->
	<link rel=”mask-icon” href=”/favicon.svg” color=”#000000">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
{#	<meta name="theme-color" content="#000000">#}

	<script type="text/javascript" src="/js/nav.js"></script>
{#	<script type="text/javascript" src="/js/img.js"></script>#}

	{% with messages = get_flashed_messages() %}
	   {% if messages %}
	      {% for message in messages %}
{#		      <script>alert("{{ message }}")</script>#}
	      {% endfor %}
	   {% endif %}
	{% endwith %}
</head>

<body id="body" class="{{ session.get("fontsize", "font_single") }}">

<div id="alerts"></div>
<script>
	{% with messages = get_flashed_messages() %}
		const globalInitialAlerts = [
			{% for alert in alerts %}
				{ title: "{{ alert.title }}", content: "{{ alert.content }}" },
			{% endfor %}
			{% if messages %}
				{% for message in messages %}
					{ title: "{{ message }}", content: "" },
				{% endfor %}
			{% endif %}
		]
	{% endwith %}

</script>

{% for x in ["title-tape-measure", "title-bar"] %}
<div id="{{ x }}" class="title-bar">
	<div class="title">
		<a href="/" class="tooltip">
			{% if web_config.get("site_logo") is not none %}
				{{ web_config.get("site_logo").value | safe }}
			{% endif %}
			<h1>{{ web_config["site-name"] }}</h1>
			<span class="tooltip-text">Home</span>
		</a>
	</div>
	<div class="nav">
		{% for item in nav %}
			{% if item["title"] == "Search" %}
				<a href="/search" class="search {{ "active" if item["is_active"] }}">
					<react-icon icon="search"></react-icon>
{#					<svg viewbox="0 0 50 50">{{ icons["search"] | safe }}</svg>#}
				</a>
			{% else %}
				<a href="{{ item["link"] }}" class="{{ "active" if item["is_active"] }}"><h3>{{ item["title"] }}</h3></a>
			{% endif %}
		{% endfor %}
		<a onclick="expand()" class="hamburger">
			<svg class="expand-icon collapsed search" id="menu-icon" viewBox="0 0 70 70"
			     preserveAspectRatio="xMidYMin">
				<path class="line one" d="m 15 19 l 45 0"></path>
				<path class="line two" d="m 15 35 l 45 0"></path>
				<path class="line three" d="m 15 51 l 45 0"></path>
			</svg>
		</a>
	</div>
</div>
{% endfor %}

<script>setMobile()</script>
{% if frontpage is defined and post is defined and web_config.get("tickets-active") == "1" and post.show_banner %}
	<div class="hero">
		<a href="/tickets"><img src="{{ post.show_banner }}" alt="Banner Poster for {{ post.show_title }}"></a>
	</div>
{% elif frontpage is defined %}
	<div class="carousel" id="carousel-container-outer">
		<div id="carousel-container" class="carousel-container-transition">
			{% set hero_count = namespace(value=0) %}
			{% for photo in photos %}
				{% set hero_count.value = hero_count.value + 1 %}
				<div class="carousel-item link" data-position="{{ hero_count.value }}"
				     style="background-image: url('/photo/{{ photo.photo_url }}');"
					>
					<div class="item-layout">
						<div>
							<h2><span>Our Last Show:<br></span>
								<a href="{{ web_config.get("last_show")[1] }}">
									{{ latest_show.title }}<br>
									<span>(More	Photos)</span>
								</a>
							</h2>
						</div>
						<div class="img-container">
							<img id="photo{{ hero_count.value }}"
						        src="/photo/{{ photo.photo_url }}"
						        alt="Photo"
							>
						</div>
					</div>
				</div>
			{% endfor %}
			{% if web_config.get("tickets-active") == "1" %}
				{% set hero_count.value = hero_count.value + 1 %}
				<div class="carousel-item link" data-position="{{ hero_count.value }}"
				     style="background-image: url('{{ web_config.get('tickets-hero-photo').value }}');"
					>
					<div class="item-layout">
						<div>
							<h2>Our Next Show:<br>{{ post.show_title }}<br>
								<a href="{{ web_config.get("tickets-link") }}">Buy Tickets Now</a></h2>
						</div>
						<img id="tickets-hero-photo"
						     src="{{ web_config.get('tickets-hero-photo').value }}"
						     alt="Photo"
						>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endif %}

{% set test = current_user.is_authenticated and no_portal is not defined %}
<!-- {{ test }} -->

<div class="collapsed" id="mobile-nav">
	{% for item in nav %}
		<a href="{{ item["link"] }}" class="{{ "active" if item["is_active"] }}"><h3>{{ item["title"] }}</h3></a>
	{% endfor %}
	{% if current_user.is_authenticated %}
        <div class="portal-nav ham">
            <a href="/members/dashboard">
                <h3>
	                <react-icon icon="dashboard"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["dashboard"] | safe }}</svg></span>#}
			        Dashboard
                </h3>
			</a>
            <a href="/members/shows">
	            <h3>
		            <react-icon icon="drama"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["drama"] | safe }}</svg></span>#}
		            Shows
	            </h3>
            </a>
{#            <ul class="dashboard-shows">#}
{#	            {% for m_show in m_shows %}#}
{#	                <li><a href="/members/show/{{ m_show.id }}">{{ m_show.title }}</a></li>#}
{#	            {% endfor %}#}
{#            </ul>#}

            {% if current_user.role in ["author", "admin"] %}
	            <a href="/members/manage-blog">
	                <h3>
		                <react-icon icon="blog_icon"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["blog_icon"] | safe }}</svg></span>#}
			            Manage Blog
	                </h3>
	            </a>
            {% endif %}

            {% if current_user.role == "admin" %}
	            <a href="/members/admin">
		            <h3>
			            <react-icon icon="admin"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["admin"] | safe }}</svg></span>#}
			            Admin Tools
		            </h3>
	            </a>
{#	            <ul>#}
{#		            <li><a href="/members/manage_media">Manage Media</a></li>#}
{#		            <li><a href="/members/manage-shows">Manage Shows</a></li>#}
{#		            <li><a href="/members/set_show_photos/oauth">Update Photos</a></li>#}
{#		            <li><a href="/members/add-show-member">Add New Members</a></li>#}
{#		            <li><a href="/members/manage_users">Manage Users</a></li>#}
{#		            <li><a href="/members/admin_settings">Admin Settings</a></li>#}
{#	            </ul>#}
            {% endif %}

	        <a href="/members/account_settings">
		        <h3>
			        <react-icon icon="person"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["person"] | safe }}</svg></span>#}
			        Account Settings
		        </h3>
	        </a>
            <a href="/members/help" target="_blank">
	            <h3>
		            <react-icon icon="help"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["help"] | safe }}</svg></span>#}
			        Help & Feedback
	            </h3>
            </a>
{#            {% if web_config.get("user_feedback_link") %}#}
{#	            <a href="{{ web_config.get("user_feedback_link") }}" target="_blank">#}
{#		            <h3>#}
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["help"] | safe }}</svg></span>#}
{#				        Feedback Form#}
{#		            </h3>#}
{#	            </a>#}
{#            {% endif %}#}
			<a href="/members/logout">
				<h3>
					<react-icon icon="logout"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["logout"] | safe }}</svg></span>#}
			        Logout
				</h3>
			</a>
		</div>
	{% endif %}
</div>


<div class="main-outer">

	{% if test %}
        <div class="portal-nav side">
            <a href="/members/dashboard">
                <h3>
	                <react-icon icon="dashboard"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["dashboard"] | safe }}</svg></span>#}
			        Dashboard
                </h3>
			</a>
            <a href="/members/shows">
	            <h3>
		            <react-icon icon="drama"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["drama"] | safe }}</svg></span>#}
		            Shows
	            </h3>
            </a>
            <ul class="dashboard-shows">
	            {% for m_show in m_shows %}
	                <li><a href="/members/show/{{ m_show.id }}">{{ m_show.title }}</a></li>
	            {% endfor %}
            </ul>

            {% if current_user.role in ["author", "admin"] %}
	            <a href="/members/manage-blog">
	                <h3>
		                <react-icon icon="blog_icon"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["blog_icon"] | safe }}</svg></span>#}
			            Manage Blog
	                </h3>
	            </a>
            {% endif %}

            {% if current_user.role == "admin" or current_user.id == "GCs4BJ9rQ2jaoWK" %}
	            <a href="/members/get_subs">
		            <h3>
			            <react-icon icon="membership"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["membership"] | safe }}</svg></span>#}
			            Get Subs
		            </h3>
	            </a>
            {% endif %}

            {% if current_user.role == "admin" %}
	            <a href="/members/bookings">
		            <h3>
			            <react-icon icon="ticket"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["ticket"] | safe }}</svg></span>#}
			            Manage Bookings
		            </h3>
	            </a>
	            <a href="/members/admin">
		            <h3>
			            <react-icon icon="admin"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["admin"] | safe }}</svg></span>#}
			            Admin Tools
		            </h3>
	            </a>
	            <ul>
		            <li><a href="/members/manage_media">Manage Media</a></li>
		            <li><a href="/members/manage-shows">Manage Shows</a></li>
		            <li><a href="/members/set_show_photos/oauth">Update Photos</a></li>
		            <li><a href="/members/add-show-member">Add New Members</a></li>
		            <li><a href="/members/manage_users">Manage Users</a></li>
		            <li><a href="/members/admin_settings">Admin Settings</a></li>
	            </ul>
            {% endif %}

	        <a href="/members/docs">
		        <h3>
			        <react-icon icon="note"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["note"] | safe }}</svg></span>#}
			        Member Docs
		        </h3>
	        </a>
	        <a href="/members/account_settings">
		        <h3>
			        <react-icon icon="person"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["person"] | safe }}</svg></span>#}
			        Account Settings
		        </h3>
	        </a>
            <a href="{{ web_config.get("user_feedback_link") }}" target="_blank">
	            <h3>
		            <react-icon icon="help"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["help"] | safe }}</svg></span>#}
			        Help & Feedback
	            </h3>
            </a>
            <ul>
                {% if web_config.get("user_feedback_link") %}
	                <li><a href="{{ web_config.get('user_feedback_link') }}">Feedback Form</a></li>
                {% endif %}
	            <li><a href="https://github.com/mattl1598/open-amdram-portal/wiki">Help Docs</a></li>
            </ul>
			<a href="/members/logout">
				<h3>
					<react-icon icon="logout"></react-icon>
{#					<span class="icon"><svg viewbox="0 0 50 50">{{ icons["logout"] | safe }}</svg></span>#}
			        Logout
				</h3>
			</a>
		</div>
	{% endif %}

	<div class="main-section">
		<div class="content {{ "m" if test }}">
			{% block content %}
			{% endblock %}
		</div>

		<div class="sidebar {{ "m" if no_portal }}">
			{# tickets #}
			{% if web_config.get("tickets-active") == "1" %}
				<div class="generic_link tickets">
					<h2>Tickets Available:</h2>
					<a class="generic_link" href="/tickets" target="_blank">
						<react-icon icon="ticket"></react-icon>
						<span class="text">Purchase Tickets</span>
					</a>
				</div>
			{% endif %}

			{# newsletter #}
			{% if False %}
				<div>
					<h2>Newsletter Sign Up</h2>
					<form action="/newsletter" method="POST">
						{% if er == "success" %}
							<h2>Success</h2>
							<div class="error"><h3>Email added to newsletter.</h3></div>
						{% else %}
							<div class="fancy-input">
								<input id="email"  name="email" type="text" placeholder=" ">
								<label for="email">Email Address</label>
							</div>
							{% if er == "email_invalid" %}
								<div class="error"><h3 style="color: red;">Email Address is invalid.</h3></div>
							{% endif %}
							<div class="fancy-input">
								<input type="submit" value="Sign Up">
							</div>
						{% endif %}
					</form>
				</div>
			{% endif %}

			{# socials #}
			{% if True %}
				<div class="socials">
					<h2>Socials:</h2>
					{% for link in socials %}
						<a class="{{ link["type"] }}" href="https://{{ link["link"] }}" target="_blank" rel="noopener noreferrer">
							<react-icon icon="{{ link["icon"] }}"></react-icon>
{#							<span class="icon"><svg viewbox="0 0 50 50">{{ link["icon"] | safe }}</svg></span>#}
							<span class="text">{{ link["text"] }}</span>
						</a>
					{% endfor %}
				</div>
			{% endif %}

			{# last show #}
			{% if web_config.get("last_show") is not none %}
				<div class="generic_link">
					<h2>Our Last Show</h2>
					<a class="generic_link" href="{{ web_config.get("last_show")[1] }}">
						<react-icon icon="drama"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["drama"] | safe }}</svg></span>#}
						<span class="text">{{ web_config.get("last_show")[0] }}</span>
					</a>
					{% if frontpage is defined and post is defined and web_config.get("tickets-active") == "1" and post.show_banner %}
						<div class="carousel" id="carousel-container-outer">
							<div id="carousel-container" class="carousel-container-transition">
								{% set hero_count = namespace(value=0) %}
								{% for photo in photos %}
									{% set hero_count.value = hero_count.value + 1 %}
									<div class="carousel-item link" data-position="{{ hero_count.value }}"
									     style="background-image: url('/photo/{{ photo.photo_url }}');"
										>
										<div class="item-layout">
{#											<div>#}
{#												<h2><span>Our Last Show:<br></span>#}
{#													<a href="{{ web_config.get("last_show")[1] }}">#}
{#														{{ latest_show.title }}<br>#}
{#														<span>(More	Photos)</span>#}
{#													</a>#}
{#												</h2>#}
{#											</div>#}
											<div class="img-container">
												<a class="carousel-image-link" href="{{ web_config.get("last_show")[1] }}">
													<img id="photo{{ hero_count.value }}"
												        src="/photo/{{ photo.photo_url }}"
												        alt="Photo"
													>
												</a>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			{% endif %}

			{# latest blog #}
			{% if web_config.get("latest_blog") is not none %}
				<div class="generic_link">
					<h2>Latest Blog: {{ web_config.get("latest_blog")[0] }}</h2>
{#					<a href="/blog/latest"><h3></h3></a>#}
					<a class="generic_link" href="/blog/latest">
						<react-icon icon="blog_icon"></react-icon>
{#						<span class="icon"><svg viewbox="0 0 50 50">{{ icons["blog_icon"] | safe }}</svg></span>#}
						<span class="text">{{ web_config.get("latest_blog")[1] }}</span>
					</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>

<div class="footer">
	<div class="noda">
		<a href="https://www.noda.org.uk" target="_blank">
			<svg viewbox="0 0 50 26">{{ icons["noda"] | safe }}</svg>
		</a>
	</div>

	<div>
		<strong>Website Powered By:</strong>
		<div><a href="https://github.com/mattl1598/open-amdram-portal">Open AmDram Portal - Opensource</a></div>
		<div>{{ app.config.get("tag") or app.config.get("commit") }}</div>
	</div>
	<div class="accessibility">
		<strong class="accessibility-title">Accessibility</strong>
		<div class="settings">
			<span>
				Theme:
				<!--suppress HtmlUnknownAttribute -->
				<select name="theme" id="theme" onchange="window.location.assign('/accessibility?theme='+this.value)" selected="font_single">
					<option value="auto" {{ "selected" if session.get("theme", "auto") == "auto" }}>Auto</option>
					<option value="light" {{ "selected" if session.get("theme", "auto") == "light" }}>Light</option>
					<option value="dark" {{ "selected" if session.get("theme", "auto") == "dark" }}>Dark</option>
				</select>
			</span>
			<span>
				<label for="">Font Size</label>
				<button id="font_single" type=button onclick="window.location.assign('/accessibility?fontsize=font_single')">1x</button>
				<button id="font_double" type=button onclick="window.location.assign('/accessibility?fontsize=font_double')">1.5x</button>
				<button id="font_triple" type=button onclick="window.location.assign('/accessibility?fontsize=font_triple')">2x</button>
			</span>
		</div>
	</div>
</div>
	<script>
		let image_elements = document.querySelectorAll("img")
		for (let elem of image_elements) {
			elem.addEventListener('error', function(){
				elem.src = elem.src + "?refresh"
			}, {once: true})
		}
	</script>
</body>
	{% if modules is defined %}
		{% if modules["wysiwyg"] %}
			<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
			<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
		{% endif %}
		{% if modules["tom-select"] %}
			<link href="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/css/tom-select.css" rel="stylesheet">
			<script src="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/js/tom-select.complete.min.js"></script>
		{% endif %}
	{% endif %}
	{% if js is defined %}
		{% if type(js) == type("string") %}
			{% set js = [js] %}
		{% endif %}
		{% for file in js %}
			<script type="text/javascript" src="/js/{{ file }}"></script>
		{% endfor %}
	{% endif %}
	{% if env == "development" %}
		<script crossorigin src="https://unpkg.com/react@latest/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@latest/umd/react-dom.development.js"></script>
		<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
	{% else %}
		<script crossorigin src="https://unpkg.com/react@latest/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@latest/umd/react-dom.production.min.js"></script>
	{% endif %}
	{% set react_mimetype = ["text/javascript", "text/babel"][env == "development"] %}
	<script src="/react/icon.js" type="{{ react_mimetype }}"></script>
	<script src="/react/alert.js" type="{{ react_mimetype }}"></script>
	<script src="/react/gallery.js" type="{{ react_mimetype }}"></script>
</html>