<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }} - Silchester Players</title>
	<link href="/css/{{ css }}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="title-bar">
	<div class="title"><h1>Silchester Players</h1></div>
	<div class="nav">
		{% for item in nav %}
			<a href="{{ item["link"] }}" class="{{ item["is_active"] }}"><h3>{{ item["title"] }}</h3></a>
		{% endfor %}
	</div>
</div>

<div class="main-section">
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	<div class="sidebar">

	</div>
</div>

<div class="footer">
	<div>Terms and Conditions</div>
	<div>Privacy Policy</div>
	<div>Copyright</div>
	<div>Opensource</div>
</div>
</body>
</html>