{% extends "layout.html" %}
{% block content %}
	<div class="past_shows_title">
		{% if manage_shows is defined and manage_shows %}
			<h2>Edit Past Shows</h2>
			<button type="button" onclick="window.location.href='/members/edit-show/new'">Add New Show</button>
		{% else %}
			<h2>Past Shows</h2>
		{% endif %}

		<label class="cards_switch">
			Table
			<div class="switch">
				<input checked type="checkbox" onchange="cssToggle(event,'past_shows','cards_mode','table_mode')">
				<span class="slider round"></span>
			</div>
			Cards
		</label>

		<span class="quick-search">
			<div class="fancy-input">
				<input type="text" name="quick-search" id="quick-search" placeholder=" " oninput="quickSearch(this, 'table#past_shows tr.link')">
				<label for="quick-search">Quick Search</label>
			</div>
		</span>
	</div>

	<table id="past_shows" class="cards_mode">
		<tr id="header">
			<th>dateIndex</th>
			<th></th>
			<th onclick="sortTable('past_shows', 2, 'show_arrow')">Show <span id="show_arrow">▼</span></th>
			<th onclick="sortTable('past_shows', 0, 'season_arrow')">Season <span id="season_arrow" class="asc">▼</span></th>
			<th onclick="sortTable('past_shows', 4, 'genre_arrow')">Genre <span id="genre_arrow">▼</span></th>
			{% if manage_shows is defined and manage_shows %}
				<th onclick="sortTable('past_shows', 5, 'photos_arrow')">Photos <span id="photos_arrow">▼</span></th>
			{% endif %}
		</tr>

		{% for show in shows %}
			{% if manage_shows is defined and manage_shows %}
				{% set url = "/".join(["/members/edit-show", show.id]) %}
			{% else %}
				{% set url = "/".join(["/past-shows", show.id, "-".join(show.title.split(" "))]) %}
			{% endif %}
			<tr class="link" id="{{ show.id }}" onauxclick="newTab('{{ url }}')" onclick="location.href='{{ url }}'"
				data-searchable="{{ show.title }} {{ show.season }} {{ show.date.year }} {{ show.genre }} {{ show.author }} {{ show.subtitle }}">
				<td>{{ '%04d' % loop.index0 }}</td>
				<td><img class="programme" src="{{ show.programme }}" alt="{{ show.title }} programme cover"></td>
				<td class="title"><h3>{{ show.title }}</h3></td>
				<td class="season">{{ show.season }} {{ show.date.year }}</td>
				<td class="genre">{{ show.genre }}</td>
				{% if manage_shows is defined and manage_shows %}
					<td class="photos">{{ '%03d' % photo_counts.setdefault(show.id, 0) }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}