{% extends "layout.html" %}
{% block content %}
	<h2>{{ show.title }}</h2>
	{% if len(videos) != 0 %}
		<h3>Video</h3>
		<video width="100%" controls>
            <source src="/video/{{ videos[0].photo_url }}" type="video/mp4">
		</video>
	{% endif %}

	{% if len(photos) != 0 %}
		<h3>Photos <span id="photocount">1</span>/{{ len(photos) }}</h3>
		<div class="gallery-container">
			<div class="arrow" onclick="galleryIncr(-1)"><</div>
			<div class="gallery-images">
				{% for photo in photos %}
					{% if loop.index <= 3 or loop.revindex <= 2 %}
						<div id="div{{ loop.index }}">
							<img id="photo{{ loop.index }}"
							     class="{% if not loop.first %}img-hidden{% endif %}"
							     src="/photo/{{ photo.photo_url }}"
							     alt="Photo"
							>
						</div>
					{% else %}
						<div id="div{{ loop.index }}">
							<img id="photo{{ loop.index }}"
							     class="{% if not loop.first %}img-hidden{% endif %}"
{#							     data-data-src="/photo/{{ photo.photo_url }}"#}
							     src="/photo/{{ photo.photo_url }}"
							     alt="Photo"
							>
						</div>
					{% endif %}

					{% if loop.last %}
						<script>const photoMax = {{ loop.index }};</script>
					{% endif %}
				{% endfor %}
			</div>
			<div class="arrow" onclick="galleryIncr(1)">></div>
		</div>
	{% endif %}

	<h3>Cast:</h3>
	<table class="roles_table">
		{% for k,v in cast.items() %}
			<tr>
				<td class="role">{{ k }}</td>
				<td class="members">
					{% for i in v %}
						<a href="{{ i.get_link() }}">
							{% if i.has_diff %}
								{{ i.firstname }} {{ i.lastname }} (as {{ i.as_firstname }} {{ i.as_lastname }})
							{% else %}
								{{ i.firstname }} {{ i.lastname }}
							{% endif %}
							<br>
						</a>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>

	<h3>Crew:</h3>
	<table class="roles_table">
		{% for k,v in crew.items() %}
			<tr>
				<td class="role">{{ k }}</td>
				<td class="members" >
					{% for i in v %}
						<a href="{{ i.get_link() }}">
							{% if i.has_diff %}
								{{ i.firstname }} {{ i.lastname }} (as {{ i.as_firstname }} {{ i.as_lastname }})
							{% else %}
								{{ i.firstname }} {{ i.lastname }}
							{% endif %}
							<br>
						</a>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}