{% extends "layout.html" %}
{% block content %}
	<div class="details-outer">
		<div class="details-text">
			<h2>{{ show.title }} - {{ show.subtitle }}</h2>
			<h4>{{ show.season }} - {{ show.date.strftime('%B %Y') }}</h4>
			<span>Type: {{ show.show_type }} {{ show.genre }}</span>
			{% if directors %}
				<span>Directed by:
					{% for director in directors %}
						{% if len(directors) > 1 %}{% if loop.last %}& {% elif not loop.first %}, {% endif %}{% endif %}
						<a href="{{ director.get_link() }}">
							{% if director.has_diff %}
								{{ director.firstname }} {{ director.lastname }} (as {{ director.as_firstname }} {{ director.as_lastname }})
							{% else %}
								{{ director.firstname }} {{ director.lastname }}
							{% endif %}
							<br>
						</a>
					{% endfor %}
				</span>
			{% endif %}
			{% if producers %}
				<span>Produced by:
					{% for producer in producers %}
						{% if len(producers) > 1 %}{% if loop.last %}& {% elif not loop.first %}, {% endif %}{% endif %}
						<a href="{{ producer.get_link() }}">
							{% if producer.has_diff %}
								{{ producer.firstname }} {{ producer.lastname }} (as {{ producer.as_firstname }} {{ producer.as_lastname }})
							{% else %}
								{{ producer.firstname }} {{ producer.lastname }}
							{% endif %}
							<br>
						</a>
					{% endfor %}
				</span>
			{% endif %}
			<span>Written by: {{ show.author }}</span>
			{% if show.noda_review %}
				<span><a target="_blank" href="{{ show.noda_review }}">Read the NODA Review</a></span>
			{% endif %}
			<div>
				{{ md(show.text_blob) | safe if show.text_blob is not none}}
			</div>
			{% if show.show_type == "Radio" %}
				{% if show.radio_audio %}
					<audio class="center unviewed" src="{{ show.radio_audio }}" controls="controls"></audio>
				{% else %}
					<span>Due to licensing restrictions, we are unable to host a copy of the play.</span>
				{% endif %}
			{% endif %}
		</div>
		<div class="details-cover">
			<img class="programme" src="{{ show.programme }}" alt="{{ show.title }} programme cover">
		</div>
	</div>

	{% if len(videos) != 0 %}
		<h3>Video</h3>
		<video width="100%" controls src="blob:/video/{{ videos[0].photo_url }}">
{#            <source src="blob:/video/{{ videos[0].photo_url }}" type="video/mp4">#}
		</video>
	{% endif %}

	{% if len(photos) != 0 %}
		<h3>Photos</h3>
		<script>
			const galleryImages = [
				{% for photo in photos %}
					["/photo/{{ photo.photo_url }}", {{ photo.photo_desc }}],
				{% endfor %}
			]
		</script>
		<div id="gallery"></div>
	{% endif %}

{#	{% if len(photos) != 0 %}#}
{#		<h3>Photos</h3>#}
{#		<div class="gallery-container">#}
{#			<div class="gallery-images">#}
{#				{% for photo in photos %}#}
{#					{% if loop.index <= 3 or loop.revindex <= 2 %}#}
{#						<div id="div{{ loop.index }}">#}
{#							<img id="photo{{ loop.index }}"#}
{#							     class="{% if not loop.first %}img-hidden{% endif %}"#}
{#							     src="/photo/{{ photo.photo_url }}"#}
{#							     alt="Photo"#}
{#							>#}
{#						</div>#}
{#					{% else %}#}
{#						<div id="div{{ loop.index }}">#}
{#							<img id="photo{{ loop.index }}"#}
{#							     class="{% if not loop.first %}img-hidden{% endif %}"#}
{#							     data-data-src="/photo/{{ photo.photo_url }}"#}
{#							     src="/photo/{{ photo.photo_url }}"#}
{#							     alt="Photo"#}
{#							>#}
{#						</div>#}
{#					{% endif %}#}
{##}
{#					{% if loop.last %}#}
{#						<script>const photoMax = {{ loop.index }};</script>#}
{#					{% endif %}#}
{#				{% endfor %}#}
{#			</div>#}
{#			<div class="arrow" onclick="galleryIncr(-1)"><</div>#}
{#			<div class="counter"><span id="photocount">1</span>/{{ len(photos) }}</div>#}
{#			<div class="arrow" onclick="galleryIncr(1)">></div>#}
{#		</div>#}
{#	{% endif %}#}

	<div class="cast_crew">
		<div class="cast">
			<h3>Cast:</h3>
			<table class="roles_table">
				{% for k,v in cast.items() %}
					<tr>
						<td class="role">{{ k }}</td>
						<td class="members">
							{% for i in v %}
								<a href="{{ i.get_link() }}">
									{% if i.has_diff %}
										{{ i.firstname }} {{ i.lastname }} (as {{ i.as_firstname }} {{ i.as_lastname }})
									{% else %}
										{{ i.firstname }} {{ i.lastname }}
									{% endif %}
									<br>
								</a>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>

		<div class="crew">
			<h3>Crew:</h3>
			<table class="roles_table">
				{% for k,v in crew.items() %}
					<tr>
						<td class="role">{{ k }}</td>
						<td class="members" >
							{% for i in v %}
								<a href="{{ i.get_link() }}">
									{% if i.has_diff %}
										{{ i.firstname }} {{ i.lastname }} (as {{ i.as_firstname }} {{ i.as_lastname }})
									{% else %}
										{{ i.firstname }} {{ i.lastname }}
									{% endif %}
									<br>
								</a>
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}