<!DOCTYPE html>
<html lang="en" class="{{ session.get("theme", "auto") }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
{#	<title>{{ web_config["site-name"] }}</title>#}
{#	<script>#}
{#		const siteName = "{{ web_config["site-name"] }}";#}
{#		const logoSVG = `{{ web_config.get("site_logo") | safe }}`;#}
{#	</script>#}
{#	{% if css is defined %}#}
{#		{% if type(css) == type("string") %}#}
{#			{% set css = [css] %}#}
{#		{% endif %}#}
{#		{% for file in css %}#}
{#			<link href="/css/{{ file }}" rel="stylesheet" type="text/css">#}
{#		{% endfor %}#}
{#	{% endif %}#}
	{% if env == "development" %}
		<script crossorigin src="https://unpkg.com/react@18.3.1/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js"></script>
		<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" referrerpolicy="no-referrer"></script>
		<script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
	{% else %}
		<script crossorigin src="https://unpkg.com/react@18.3.1/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.production.min.js"></script>
		<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/2.0.1/remarkable.min.js" referrerpolicy="no-referrer"></script>
	{% endif %}

	{% if square_environment == "sandbox" %}
		<script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
	{% else %}
		<script type="text/javascript" src="https://web.squarecdn.com/v1/square.js"></script>
	{% endif %}


	<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
	<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

	<link href="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/css/tom-select.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/tom-select@latest/dist/js/tom-select.complete.min.js"></script>

	<link href="/static/css/react.css" rel="stylesheet" type="text/css">

	<link rel=”mask-icon” href="/static/favicon.svg" color=”#000000">
	<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
	<script>
		console.log("TEST")
		{% with messages = get_flashed_messages() %}
			const globalInitialAlerts = [
				{% for alert in alerts %}
					{ title: "{{ alert.title }}", content: "{{ alert.content }}" },
				{% endfor %}
				{% if messages %}
					{% for message in messages %}
						{ title: "{{ message }}", content: "" },
					{% endfor %}
				{% endif %}
			]
		{% endwith %}
	</script>
</head>
<body>
	<div id="app" data-data="{{ json.dumps(data) }}" data-path="{{ request.path }}">

	</div>
	<div class="app_loader">
		<div class="loading_inner">
			{{ logo | safe }}
			<div class="loader"></div>
{#			<progress></progress>#}
		</div>
	</div>
</body>
{% set react_mimetype = ["text/javascript", "text/babel"][env == "development"] %}
{% if env == "development" %}
	<script src="/react/markdown.js" type="{{ react_mimetype }}"></script>
	<script src="/react/icon.js" type="{{ react_mimetype }}"></script>
	<script src="/react/nav.js" type="{{ react_mimetype }}"></script>
	<script src="/react/alert.js" type="{{ react_mimetype }}"></script>
	<script src="/react/gallery.js" type="{{ react_mimetype }}"></script>
	<script src="/react/seatingplan.js" type="{{ react_mimetype }}"></script>
	<script src="/react/sidebar.js" type="{{ react_mimetype }}"></script>
	<script src="/react/carousel.js" type="{{ react_mimetype }}"></script>
	<script src="/react/input.js" type="{{ react_mimetype }}"></script>
	<script src="/react/posts.js" type="{{ react_mimetype }}"></script>
	<script src="/react/pastshows.js" type="{{ react_mimetype }}"></script>
	<script src="/react/admin_pastshows.js" type="{{ react_mimetype }}"></script>
	<script src="/react/search.js" type="{{ react_mimetype }}"></script>
	<script src="/react/accounting.js" type="{{ react_mimetype }}"></script>
	<script src="/react/login.js" type="{{ react_mimetype }}"></script>
	<script src="/react/members.js" type="{{ react_mimetype }}"></script>
	<script src="/react/admin.js" type="{{ react_mimetype }}"></script>
	<script src="/react/square_card.js" type="{{ react_mimetype }}"></script>
	<script src="/react/tabulation.js" type="{{ react_mimetype }}"></script>
	<script src="/react/bookings.js" type="{{ react_mimetype }}"></script>
	<script src="/react/router.js" type="{{ react_mimetype }}"></script>
{% else %}
	<script src="/static/react/app.js" type="{{ react_mimetype }}"></script>
{% endif %}
</html>