{% extends "members/members_layout.html" %}
{% block portal_content %}
	<form action="/members/set_show_photos/form" method="post">
		<input type="hidden" name="refresh_token" value="{{ refresh_token }}">
		<div class="fancy_input">
			<select id="show" name="show">
				{% for show in shows %}
					<option value="{{ show.id }}">{{ show.title }} ({{ show.date.year }})</option>
				{% endfor %}
			</select>
			<label for="show">Show</label>
		</div>

		<div class="fancy_input">
			<select id="album" name="album">
				{% for album in albums %}
					<option value="{{ album[0] }}">{{ album[1] }}</option>
				{% endfor %}
			</select>
			<label for="album">Album</label>
		</div>
		<input type="submit">
	</form>
{% endblock %}