{% extends "layout.html" %}
{% block content %}
	{% set show_cast = False %}
	{% set show_crew = False %}
	<div class="past_shows_title">
		<h2>{{ user.firstname }} {{ user.lastname }}</h2>

		<label class="cards_switch">
			Table
			<div class="switch">
				<input type="checkbox" onchange="// noinspection JSDeprecatedSymbols
cssToggle(event,'past_shows','cards_mode','table_mode')">
				<span class="slider round"></span>
			</div>
			Cards
		</label>
	</div>


	<table id="past_shows" class="table_mode">
		<tr id="header">
			<th>dateIndex</th>
			<th></th>
			<th onclick="sortTable('past_shows', 2, 'show_arrow')">Show <span id="show_arrow">▼</span></th>
			<th onclick="sortTable('past_shows', 0, 'season_arrow')">Season <span id="season_arrow">▼</span></th>
			<th onclick="sortTable('past_shows', 4, 'cast_arrow')">Cast Roles <span id="cast_arrow">▼</span></th>
			<th onclick="sortTable('past_shows', 5, 'crew_arrow')">Crew Roles <span id="crew_arrow">▼</span></th>
		</tr>

		{% for k,v in shows.items() %}
			<tr class="link" onclick="location.href='/past-shows/{{ k }}';">
{#				<td>{{ '%04d' % loop.index0 }}</td>#}
				<td>{{ show_details[k].date }}</td>
				<td><img class="programme" src="{{ show_details[k].programme }}" alt="{{ show_details[k].title }} programme cover"></td>
				<td class="title"><h3>{{ show_details[k].title }}</h3></td>
				<td>{{ show_details[k].season }} {{ show_details[k].date.year }}</td>
				<td>
					{% for role in v %}
						{% if role.role_type == "cast" %}
							{% if not show_cast %}
								<span class="card-subtitle">
									<hr>Cast<hr>
								</span>
								{% set show_cast = true %}
							{% endif %}
							{% if role.has_diff %}
								{{ role.role }} (as {{ role.as_firstname }} {{ role.as_lastname }})<br>
							{% else %}
								{{ role.role }}<br>
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{% for role in v %}
						{% if role.role_type == "crew" %}
							<span class="card-subtitle">
								<hr>Crew<hr>
							</span>
							{% if role.has_diff %}
								{{ role.role }} (as {{ role.as_firstname }} {{ role.as_lastname }})<br>
							{% else %}
								{{ role.role }}<br>
							{% endif %}
						{% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</table>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			sortTable('past_shows', 0, "season_arrow")
			sortTable('past_shows', 0, "season_arrow")
		}, false)
	</script>
{% endblock %}