@import "partials/m_layout";
@import "partials/layout";
@import "partials/variables";
@import "partials/form_element";

div.fancy-input {
	margin-top: 1rem;
}

summary {
	cursor: pointer;
}

.existing_members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1ch;

	div.member_name {
		border-radius: 0.5ch;
		padding: 0.5ch 0.5ch;
		text-align: center;
		text-decoration: none;
		@include theme(background-color, accent1);
		@include theme(color, text);
		border: 3px solid;
		@include theme-adjust(border-color, accent1, darken, 20%);
	}
}