@import "partials/layout";
@import "partials/m_layout";
@import "partials/variables";
@import "partials/form_element";

.info span.icon svg {
	transform: rotate(180deg);

	path {
		@include theme(stroke, text);
		@include theme(fill, text);
	}
}

td input[type="number"] {
	width: 5ch;
}

td.center {
	text-align: center;
}

td.wide input {
	text-align: center;
	width: 98%;
}