@import "partials/layout";
@import "partials/carousel";
@import "partials/react_carousel";

div.next_show {
	text-align: center;
}

div.post_content {
	p:has(img) {
		text-align: center;
	}
	img {
		max-width: 100%;
		max-height: 50vh;
	}
}