@import "partials/layout";
@import "partials/m_layout";
@import "partials/variables";
@import "partials/form_element";

a {
	//text-decoration: none;
	@include theme(color, text);

	&.button {
		@include theme(border-color, accent1);
		white-space: nowrap;
		text-align: center;
	}
}

div.if_empty:not(:has(> div > :not(:only-child)))::after {
	white-space: pre;
	content: "\A Theres currently no content to show you here. \A In the meantime, please feel free to stare at this empty page and use your imagination to fill in the space. \A Or, you know, you could just check back later when we actually have something here. Your call.";
}

summary {
	cursor: pointer;
	font-weight: bold;
	font-size: 120%;
}

div.media {
	display: grid !important;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;

	padding: 0 !important;

	div {
		border-radius: 0.5ch;
		padding: 0.5ch 0.5ch !important;
		text-align: center;
		text-decoration: none;
		@include theme(background-color, accent2);
		@include theme(color, text);
		border: 3px solid;
		@include theme-adjust(border-color, accent2, darken, 20%);

		display: grid;
		overflow: hidden;
	}

	div.new_photo {
		grid-column: span 2;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1rem !important;

		h3 {
			margin: 0;
		}
	}

	div.draggable {
		user-select: none;

		&:hover {
			@include theme(background-color, accent1);
			cursor: grab;
		}

		img {
			grid-area: 1/-1;
			z-index: 10;
			object-fit: cover;
			aspect-ratio: 1;
		}
	}
}

div.manage {
	display: flex;
	gap: 1rem;

	@include mobile {
		flex-direction: column;
	}
	@include not-mobile {
		flex-direction: row;

		div.form, form {
			flex-grow: 1;
			max-width: 50%;
		}
	}

	div.form, form {
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h3 {
			margin: 0;
		}
	}
}

div.files {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	max-width: 100%;
	flex-wrap: wrap;
}

div.file {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 10rem;
	padding: 0.3rem 0.15rem;
	border: 0.2rem solid;
	border-radius: 1rem;
	@include theme(background, bg3);

	&:nth-child(even) {
		@include theme(border-color, accent1);
	}
	&:nth-child(odd) {
		@include theme(border-color, accent2);
	}

	a.filetext {
		text-align: center;
	}

	a.icon {
		flex-grow: 1;
		flex-shrink: 1;
		align-self: stretch;

		display: flex;
		font-size: inherit;
		flex-direction: column;
		justify-content: center;
		max-height: 7rem;
		min-height: 3rem;
		width: 10rem;

		overflow: visible;
		object-fit: contain;

		svg.icon {
			@include theme(fill, text);
			@include theme(color, text);
			height: 100%;
			width: auto;

			overflow: hidden;
		}
	}
}


div.posts {
	display: flex;
	flex-direction: column;
	gap: 1.7ex;

	&:has(a.post:only-child) {
		display: none;
		//background: red;
	}
}

.post {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;

	&.heading {
		pointer-events: none;
	}

	&.showpage {
		align-items: flex-start;

		span.date {
			padding-top: .5ex;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			align-self: flex-start;
		}
		span.icon {
			align-items: flex-start;
			justify-content: flex-start;
		}
	}
	&:not(.showpage) {
		img {
			display: none;
		}
	}

	span.date {
		align-self: stretch;
		flex-grow: 0;
		flex-shrink: 0;

		width: 7ch;
		min-width: 7ch;
		max-width: 7ch;
		text-align: right;
	}

	span.icon {
		flex-grow: 0;
		flex-shrink: 0;
		align-self: stretch;

		display: flex;
		font-size: inherit;
		flex-direction: column;
		justify-content: center;
		width: 8ex;

		overflow: visible;

		svg.icon {
			font-size: inherit;
			@include theme(fill, text);
			@include theme(color, text);
			padding: 0 1ex;
			height: 6ex;
			width: 6ex;

			overflow: visible;
		}

		svg.line {
			flex-grow: 1000;
			font-size: inherit;
			@include theme(fill, text);
			@include theme(color, text);
			height: 100%;
			width: 100%;

			overflow: visible;
		}
	}

	div.text {
		display: flex;
		flex-direction: column;

		flex-grow: 0;
		overflow: hidden;
		text-overflow: ellipsis;

		div.fulltext {
			padding-right: 2rem;
		}

		* {
			h1,h2,h3,h4 {
				flex-grow: 0;
				margin: 0;
				margin-block-start: 0;
				margin-block-end: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-right: 4rem;
			}

			span {
				display: -webkit-box;
				overflow: hidden;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}

		}
	}
}
